/* .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding: 0 16px;
}

.navbar a {
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
  font-size: 36px;
  color: white;
  font-weight: bold;
  font-family: cursive;
} */
.navbar {
  background: pink;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow:dense;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
}

.logo {
  background: green;
  width: 60px;
  grid-column:-3; /* create an implicit one at the beginning */
}